
/* custom variables --------------------*/
:root
{
  --color-dark: #295f4e;
  --color-light: #cdcf9de4;
  --color-medium: #baaf10;
  --color-body: #f4e5c2;
  --transition: all 0.5s ease; 
}

body
{
  color: var(--color-body);
  line-height: 1.7;
  font-family: "Abel";
}

a
{
  text-decoration: none;
  color:white;
  transition: var(--transition);
}

a:hover
{
  color: var(--color-dark);
}

img
{
  max-width: 100%;
  height: auto;
}

/* Hero --------------------------------------*/

#hero
{
  min-height: 100vh; 
  background: url(./assets/hero.jpg);
  background-position: center;
  background-size: cover;
}

.slogan
{
  font-weight: bolder;
  width: max-content;
  margin: 0 auto;
  opacity: .7;
  padding: .7%; 
  color: black;
  background: var(--color-body);
}

/* Navbar -----------------------------*/
.navbar
{
  background-color: #f4e5c2;
  
}

.nav-link
{
  color: black;
  font-size: 2rem;
}

.nav-link:hover
{
  color: var(--color-dark);
}

/* Menu ---------------------*/

#menu
{
  min-height: 100vh;
  background: url(./assets/hero.jpg);
   background-position: center;
  background-size: cover;
}