
/* custom variables --------------------*/
:root
{
  --color-dark: #295f4e;
  --color-light: #cdcf9de4;
  --color-medium: #baaf10;
  --color-body: #f4e5c2;
  --transition: all 0.5s ease; 
}

body
{
  color: var(--color-body);
  line-height: 1.7;
  font-family: "Abel";
}

a
{
  text-decoration: none;
  color:white;
  transition: var(--transition);
}

a:hover
{
  color: var(--color-medium);
}

img
{
  max-width: 100%;
  height: auto;
}

/* Hero --------------------------------------*/

#hero
{
  min-height: 100vh; 
  background: url(./assets/hero.jpg);
  background-position: center;
  background-size: cover;
}

.slogan
{
  font-weight: bolder;
  width: max-content;
  margin: 0 auto;
  opacity: .7;
  padding: .7%; 
  background: var(--color-dark);
}

/* Navbar -----------------------------*/
.navbar
{
  background-color: #f4e5c2;
  
}

.nav-link
{
  color: black;
  font-size: 2rem;
}

.nav-link:hover
{
  color: var(--color-dark);
}

/* Menu ---------------------*/

#menu
{
  min-height: 100vh;
  background-color: var(--color-dark);
}

.burger-image
{
  border-radius: 5%; 
}

/* Footer ----------------------------------------- */

footer
{
  background-color: var(--color-dark);
  padding: 85px 0;
}

.single-box p
{
  color: var(--color-body);
}

.single-box h3
{
  font-size: 16px;
  font-weight: 700;
  color: var(--color-body);
}

.single-box .card-area
{
  color: var(--color-body);
}

.single-box ul
{
  list-style: none;
  padding: 0;
}

.single-box ul li 
 {
   text-decoration: none;
   line-height: 2.5;
}

.icon
{
  font-size: 2rem;
  margin: 1%; 
}

.swish
{
  font-weight: bolder;
}

/* Showcase ---------------------*/

.carousel-div
{
  margin: 0 auto;
  width: min-content;
}

.carousel-div h2
{
  color: var(--color-body);
  margin-top: 4%; 
  text-align: center;
}


#showcase
{
  background-color: var(--color-dark);
}

.fixed-size-img 
{
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.card
{
  background-color: black;
  color: var(--color-body);
}

