
/* ---------Innehållsförteckning ---------
1. Variabler
2. Hero
3. Menu
4. Footer
5. Showcase 
6. Lexicon
7. Cart
*/

/* 1. variabler --------------------*/
:root
{
  --color-dark: #295f4e;
  --color-extra-dark: #17382e;
  --color-light: #c5c55fe4;
  --color-body: #f4e5c2;
  --transition: all 0.5s ease; 
}

body
{
  color: var(--color-body);
  line-height: 1.7;
  font-family: "Abel";
  background-color: var(--color-dark);
}


a
{
  text-decoration: none;
  color:white;
  transition: var(--transition);
}

a:hover
{
  color: var(--color-medium);
  cursor: pointer; 
}

img
{
  max-width: 100%;
  height: auto;
}


.logo
{
  padding: 5%; 
}

/* 2. Hero -------------------------------------*/

#hero
{
  min-height: 100vh; 
  background: url(./assets/hero.jpg);
  background-position: center;
  background-size: cover;

}

.slogan
{
  font-weight: bolder;
  width: max-content;
  margin: 0 auto;
  opacity: .7;
  padding: .7%; 
  background: var(--color-dark);
}

/* 4. Menu ----------------------------------------------*/

.my-other-menus-container
{
  border-bottom: 2px solid white; 
  display: flex; 
  justify-content: center;
}

.my-filter-container
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5%; 
}


@media (max-width: 767.98px)
 {
  /* små skärmar - lägg alla checkboxar ovanpå varandra */
  .my-checkbox-container
  {
    border-bottom: 2px solid var(--color-medium);
    background-color: var(--color-extra-dark);
  }
}

.my-menu-description-container 
{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-extra-dark);
  color: white; 
}

.my-menu-description-container p
{
  width: 60%; 
 align-self: center; 
}

@media (min-width: 1200px) { 
  /* Stora skärmar*/

.my-checkbox-container  
/* - lägg alla checkboxar bredvid varandra */
{
    display: flex; 
    justify-content: center;
  }

}
.card-image 
{ 
  width: auto;
  border-radius: 5%; 
}

.my-card-container
{
  display: flex;
  justify-content: center;
}


/* Sätt olika höjd på burger-image beroende på skärmstorlek. Bredden är auto.*/
@media (min-width: 1200px) 
{
  /* Stora skärmar */
  .card-image {
    height: 250px;
  }

}

@media (max-width: 767.98px) {

  /* Små skärmar */
  .card-image 
  {
    height: max-content;
  }
   .my-other-menus-container 
   {
   display: none;

}
 
}

/* 5. Footer ----------------------------------------- */

footer
{
  margin-top: 5%;
  border-top: 1px solid white; 
  background-color: var(--color-dark);
  padding: 85px 0;
}

.single-box p
{
  color: var(--color-body);
}

.single-box h3
{
  font-size: 16px;
  font-weight: 700;
  color: var(--color-body);
}

.single-box .card-area
{
  color: var(--color-body);
}

.single-box ul
{
  list-style: none;
  padding: 0;
}

.single-box ul li 
 {
   text-decoration: none;
   line-height: 2.5;
}

.icon
{
  font-size: 2rem;
  margin: 1%; 
}

.swish { font-weight: bolder;}

/* 6. Showcase -------------------------------------*/

.showcase-img
{
  height: 250px;
  border-radius: 10%;
}

.user-profile-navbar
{
   background-color: #F8F9FA;
}

/* 7. Cart ------------------------------ */

.show-cart
{
  display: flex; 
  justify-content: space-between; 
}

.hide-cart
{
  display: none; 
}

.hide-empty-cart-message
{
  display: none;
}

.show-empty-cart
{
  display: flex; 
}

.show-order-view
{
  display: flex; 
}

.hide-order-view
{
  display: none; 
}

.minimize-button
{
  position: absolute;
}


@media (min-width: 1200px) {

  /* Stora skärmar */
  .minimize-button
  {
      left: 25%;
       top: 4%;
  }


}

@media (max-width: 767.98px) {

  /* Små skärmar */
  .minimize-button 
  {
      left: 60%;
      top: 3.4%;
    }

}

.payment-input
{
  width: max-content;
}